<div class="container">
  <div class="mt-3 row">

    <div class="col-sm-12">

    <img    class="img-fluid"  style=" height:500px; width:500px;" [src]= "recipe.image" alt="">

    </div>

  </div>

  <div class="row">

    <div class="col-xs-12">

      <h2 class="">{{recipe.name}}</h2>



    </div>

  </div>
</div>


<div class=" container row">

  <!-- <div class="col-xs-12">

    <button class="btn btn-group dropdown-toggle btn-secondary">Manage <span class="caret"></span> </button>
    <ul class="dropdown-menu">
        <li>To Shopping List</li>
        <li>Edit</li>
        <li>Delete</li>>
    </ul>

  </div> -->
<div class="col-xm-1">

  <button style="" (click)  = "onAdd()" class = "green btn-floating"  type="button" name="button"> <i class="material-icons">add_shopping_cart </i> </button>

  </div>
<div class="col-xm-1">


  <button (click)= "edit()"  class = " yellow ml-2 btn-floating" type="button" name="button"><i class="material-icons">edit </i></button>

</div>
<div class="col-xm-1">

  <button (click)="onDelete()" class = "red ml-2 btn-floating" type="button" name="button"><i class="material-icons">delete </i></button>
</div>


</div>

<div class="row">

 <div class="col-xs-12">

<div class="row">

<div class="container">
  <div class="col-sm-10">
    <h2>DESCRIPTION</h2>
  {{recipe.description}}
    </div>
</div>

</div>



 </div>

</div>

<hr>
<div class="row">

  <div class="col-xs-12">

<div class="container">

  <h2>INGREDIENTS</h2>
<ul class="collection">

<li *ngFor = "let i of recipe.ingredients" class="collection-item">{{i.name}} - {{i.amount}}</li>

</ul>
</div>

  </div>

</div>
