<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>

</head>
<body>


        <nav style=" background-image:url(https://images.wallpaperscraft.com/image/wood_background_texture_36573_1920x1080.jpg);" class=" transparent nav-fixed">

           <div class="container">
            <a style="text-decoration:none; font-size:2vw"  class="center brand-logo">RECIPE BOOK</a>

                <ul class="left hide-on-med-and-down">

                  <li routerLinkActive = "active">

                      <a  routerLink = "/home">Home</a>

                  </li>
                    <li *ngIf ="AuthService.isAuthenticate()" routerLinkActive = "active">

                        <a  routerLink = "/shopping-list">Cart</a>

                    </li>
                    <li *ngIf ="AuthService.isAuthenticate()" routerLinkActive = "active">

                        <a routerLink = "/recipes">Recipes</a>

                    </li>
                    <li routerLinkActive = "active">
                      <a routerLink= '/about'>About</a>
                    </li>



                </ul>

            <ul *ngIf ="AuthService.isAuthenticate()" class=" right">
              <li>
                    <a (click) = "store()">Save</a>

              </li>

              <li>
                <a  (click)="logout()"><i class="material-icons right">exit_to_app </i></a>

              </li>



            </ul>
<ul *ngIf ="!AuthService.isAuthenticate()" class="right">
  <a routerLink = '/signin'><i class="large material-icons">account_circle</i> </a>

</ul>

           </div>
        </nav>








</body>
</html>
