
<div class="row">
  <div class="offset-sm-1 col-sm-8">
    <div class="container">
      <router-outlet></router-outlet>
    </div>
  </div>
<div class="col-sm-2 col-sm-2">
  <app-rl></app-rl>
</div>
</div>



<!--
<div class="row">

<div class="col-sm-2 ">
<div class="container">

      <app-rl ></app-rl>
</div>
</div>

<div class="offset-sm-1 col-sm-8">
<router-outlet></router-outlet>

</div>
{{recipe}}

</div>



<div class="hd">
lullll
</div> -->
