
<div class="row">

  <div style="" class="col-md-6">


          <img class="img-fluid" style="z-index:-2 !important" src="https://images.unsplash.com/photo-1460467820054-c87ab43e9b59?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=661&q=80">




  </div>

</div>
