<div class="container">

<div class="row">
  <div class="col-xm-12">
    <div class="card ">

<button style = "height:30px; cursor:pointer" (click) = "addNew()" class="left badge badge-warning">Add New Recipe!</button><br>

<app-ri style="hover:color " *ngFor = "let i of recipe; let in = index" [index]= "in" [recipe] = "i"   ></app-ri>
<hr>


        </div>

  </div>
</div>

</div>
