
    <div class="card text-right jumbobgimg" style="width: 100vw;">
        <div class="card-body">
            <div class="row justify-content-end">
                <div class="col-8">
          <h1 class="card-title mx-5" style="font-size: 35px; font-weight: 350">ABOUT US</h1>
          <p class="card-text float-sm-right" style="font-size: 18px; font-weight: 400">Welcome to our Recipe Book. We provide you with appreciably a large number of recipes,
            their ingredients and also you can add any of the ingredients in your cart at any time when you want to buy. You can go through the
            recipes, select your favourite one and then add all the ingredients into the cart that are required for that particular recipe. Along
            with this you can also share your recipes with other users. For that you will need to create an account and share as many recipes you
            want. Hopefully you will have a good experience with us!
          </p>
        </div>
          </div>
        </div>
      </div>
