
    .jumbobgimg{
      background-image: url(https://images.unsplash.com/photo-1490818387583-1baba5e638af?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&w=1000&q=80);
      background-size: cover;
      background-position: 50% 50%;
      background-repeat: no-repeat;
      height: 100vh;
      max-width: 100vw;

    }
