<mat-sidenav-container style="background-image:url(https://images.wallpaperscraft.com/image/wood_background_texture_36573_1920x1080.jpg)" class="sidenav-container">
  <mat-sidenav  #drawer class="sidenav"
  fixedInViewport="true"

      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="!(isHandset$ | async)">
    <mat-toolbar class="h"style="color:white;background-image:url(https://images.wallpaperscraft.com/image/wood_background_texture_36573_1920x1080.jpg)">WELCOME!</mat-toolbar>
    <mat-nav-list style="background-image:url(https://images.wallpaperscraft.com/image/wood_background_texture_36573_1920x1080.jpg); height:100%;">
      <a  style="color:white; text-decoration:none;" mat-list-item  routerLink = "/home">HOME</a>
      <a style="color:white; text-decoration:none;"  *ngIf ="AuthService.isAuthenticate()" mat-list-item  routerLink = "/shopping-list">CART</a>
      <a style="color:white; text-decoration:none;" *ngIf ="AuthService.isAuthenticate()" mat-list-item  routerLink = "/recipes">RECIPES</a>
      <a style="color:white; text-decoration:none;" *ngIf ="AuthService.isAuthenticate()" mat-list-item  (click) = "store()">SAVE</a>
      <a style="color:white; text-decoration:none;"  mat-list-item  routerLink = "/signin">LOG IN</a>
      <a style="color:white; text-decoration:none; "  mat-list-item  routerLink = "/about">ABOUT</a>
      <a style="color:white;text-decoration:none; " *ngIf ="AuthService.isAuthenticate()" mat-list-item  (click)="logout()">LOG OUT<i class="material-icons right">exit_to_app </i></a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>

      <!-- <a class="h" style="display:inline-block;margin:0 10px; color:white; text-decoration:none;" *ngIf ="AuthService.isAuthenticate()"  routerLink = "/shopping-list">CART</a>
      <a class="h" style="display:inline-block;margin:0 10px; color:white; text-decoration:none;" *ngIf ="AuthService.isAuthenticate()"   routerLink = "/recipes">RECIPES</a>
      <a class="h" style="display:inline-block;margin:0 10px; color:white; text-decoration:none;"   (click) = "store()">SAVE</a>
      <a class="h" style="display:inline-block;margin:0 10px; color:white; text-decoration:none;"   routerLink = "/signin">LOG IN</a>
      <a  class="h" style="display:inline-block;margin:0 10px; color:white; text-decoration:none;" routerLink = "/about">ABOUT</a>
      <a class="h" *ngIf ="AuthService.isAuthenticate()" mat-list-item  (click)="logout()">LOG OUT<i class="material-icons right">exit_to_app </i></a> -->


    </mat-toolbar>

  </mat-sidenav-content>
</mat-sidenav-container>
