
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js">

    </script>


<div class="row">
  <div class="col-md-12">

    <div class="container">
      <form [formGroup] = "form" class="mt-2" (ngSubmit) = "submit()">
        <button [disabled]="!form.valid" type="submit" class="btn-floating green" name="button"><i class="material-icons">done</i></button>
        <button type="button" (click)="cancel()" class="ml-2 btn-floating red" type="button" name="cancel"><i class="material-icons">close</i></button>

          <div class="mt-4">
            <div class="form-group">
              <label for="">Name</label>
              <input formControlName = "name" class = "form-control" type="text" name="" value="">
            </div>

            <div class="form.group">
              <label for="">Image Url</label>
              <input formControlName = "image"  #image class = "form-control" type="text" name="" value="">
            </div>

                <div>
                    <img class="col-sm-12 img-fluid" [src]="image.value" alt="">
                </div>



            <div class="form.group">
              <label for="">Description</label>
              <textarea formControlName = "description" style="height: 50vh;" name="name" rows="8" cols="80"></textarea>
            </div>



      <div formArrayName="ingredients">
            <h5 class="mt-2">ADD INGREDIENTS</h5>
        <div *ngFor="let ingredientCntrl of form.get('ingredients')['controls']; let i = index" [formGroupName]="i" class="row">
              <div class="col m6 s12">
              <input type="text" formControlName="name" value="">
          </div>
              <div class="col m1 s12">
              <input formControlName="amount" type="number" name="" value="">
          </div>

        </div>

      </div>
          </div>

<div class="row">

  <div class="col-sm-12">

  <button (click)="addNew()" class="btn-floating red" type="button" name="button"><i class="material-icons">add</i></button>
</div>
</div>

      </form>


    </div>
  </div>




</div>
