<div style="height:100vh; background-image:url(https://images.wallpaperscraft.com/image/cinnamon_anise_star_anise_spices_113538_1920x1080.jpg)" class="">

<div class="row">

  <div class="col-sm-12 col-md-12">

    <div class="container">





    <div style="opacity:0.9;" class="card offset-sm-2 col-sm-8">
      <div class="card-header">
        <h5>CART <i class="material-icons right">add_shopping_cart</i> </h5>
      </div>
      <app-shopping-edit ></app-shopping-edit>
        <ul class="collection with-header">
          <li class="collection-header"><h4>THE LIST</h4></li>
          <li  *ngFor = "let i of ingredients;" class="collection-item"><div>{{i.name}} ({{i.amount}})<a href="#!" class="secondary-content"></a></div></li>
          </ul>

      </div>


    </div>

  </div>

</div>

</div>
