<div style="  background-image: url(https://images.wallpaperscraft.com/image/cocoa_marshmallow_plaid_book_autumn_118517_1920x1080.jpg);background-size: cover; height:100vh; background-repeat: no-repeat;opacity:1" class="jumbotron" >
  <div class="row">
    <div class="container">
      <div class="col-md-4-offset col-md-4">
      <div style="opacity:0.8; "class="center card">
        <div class="card-header">
          <h5 style="text-align:center;">Sign Up</h5>
        </div>

          <form (ngSubmit)="submit(f)" #f="ngForm">
              <div class="container">
                <div class="form-group">
                  <label for="">email</label>
                  <input class="form-control"  type="email" name="email" ngModel>
                </div>
                <div class="form-group">
                  <label for="">Password</label>
                  <input class="form-control"  type="password" name="Password" ngModel>
                </div>

              </div>
              <button  class="btn btn-block" type="submit" name="button">Sign Up</button>

            </form>



      </div>

      </div>
    </div>
  </div>


</div>
