<div  style="background:#2c3e50; height:100vh" >
  <div  style="position:fixed;top: 50%;
  left: 50%;" class="spinner">
  <div class="double-bounce1"></div>
  <div class="double-bounce2"></div>
</div>

</div>
