/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');
font-family: 'Lato', sans-serif;



body{
  margin: 0;
}
