<div  style=" opacity:0.7;  background-image: url(https://images.wallpaperscraft.com/image/cookies_pastries_food_table_105514_1920x1080.jpg);background-size: cover; height:100vh; background-repeat: no-repeat;opacity:1" class=" jumbotron" >
  <div class="row">
    <div class="container">
      <div class="col-md-4-offset col-md-4">
      <div style="opacity:0.7; "class="center card">
        <div class="card-header">
          <h5 style="text-align:center;">Log In</h5>
        </div>

          <form   (ngSubmit)="submit(f)" #f="ngForm">
              <div class="container">
                <div class="form-group">
                  <label for="">email</label>
                  <input class="form-control"  type="email" name="email" ngModel>
                </div>
                <div class="form-group">
                  <label for="">Password</label>
                  <input class="form-control"  type="password" name="Password" ngModel>
                </div>

              </div>
              <button  class="btn btn-block" type="submit" name="button"><span class="md-1">Log In</span></button>

            </form>
            <h5 style="text-align:center;" class="center mt-2">OR</h5><br>
              <a style="text-align:center;" class="card-link center" routerLink ="/signup">Create An Account</a>

      </div>

      </div>
    </div>
  </div>


</div>
