



  <form (ngSubmit) ="onAdd(form)" #form = "ngForm"  >
    <div class="form-row">
      <div class="col-md-6">


      <div class="form-group">
          <input  required  name="name"  ngModel class="form-control" id="name" type="text" required placeholder="Enter Name">


          </div>


      </div>


          <div class="offset-col-md-2 col-md-6">
                  <div class="form-group">
                    <input required name="amount"  ngModel   class="form-control" placeholder="Amount" id="amount" required type="number">


                  </div>

        </div>

    </div>


  <div class="row">
        <div class="col-md-4 ">
            <button [disabled] = "!form.valid" type="submit" class="col-sm-12 btn">ADD</button>

      </div>

        <div class="col-md-4 col-sm-12">
            <button (click)="delete()" type="button" class="col-sm-12 btn btn-primary" >Delete</button>

        </div>

        <div class="col-md-4 col-sm-12">

            <button (click)="clear()" type="button" class="col-sm-12 btn btn-warning ">Clear</button>

        </div>

  </div>




      </form>
