.jumbobgimg{
  background-image: url(https://cdn.pixabay.com/photo/2014/06/11/17/00/cook-366875_960_720.jpg);
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  height: 100vh;
 max-width: 100vw;

}
