
    <div class="jumbotron jumbobgimg text-white img-fluid">

<h6 class="display-4  " style=" text-align: center">A RECIPE IS A STORY THAT ENDS WITH A GOOD MEAL</h6>



        <hr class="my-2">
        <h5 style="text-align: center">POST YOUR OWN RECIPES NOW!</h5>
        <a  (click)= click() class="button btn btn-warning btn-lg pull-left my-3 col-xs-2" role="button" style="line-height: 20px;position: absolute; left:40%;">Get started</a>



      </div>
